.Modal {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #0000001c;
	z-index: 100;
}

.Modal>div:last-child {
	z-index: 1;
	box-shadow: 0 0 5px #777;
	transition: ease-in-out 200ms;
	animation-name: stretchAnimation;
	animation-duration: 200ms;
}

.ScrollableContainer {
	max-height: calc(100vh - 150px);
	overflow-y: scroll;
}

@keyframes stretchAnimation {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.975);
	}

	100% {
		transform: scale(1);
	}
}

.ModalOverlay {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.CloseButton {
	height: 30px;
	width: 30px;
	position: relative;
}

.CloseButton svg {
	height: 10px;
	width: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}